doctype html
html
    head
        title MMA_Academy
        block scripts
        block style
    body
        nav#navbar
            ul
                li #[a(href="/home") HOME]
                li #[a(href="/") SERVICES]
                li #[a(href="/") CLASS INFO]
                li #[a(href="/") ABOUT]
                li #[a(href="/contact") CONTACT US]
    block content
    footer#footer
        | footer